name: snapstar
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  # UI & Icons
  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.10.0
  google_fonts: ^6.3.2
  flutter_svg: ^2.2.1
  shimmer: ^3.0.0
  badges: ^3.1.2 # Notifications count ke liye best hai

  # State Management & Storage
  get: ^4.7.3
  get_storage: ^2.1.1

  # Networking & API (Removed 'http' because you have 'Dio')
  dio: ^5.9.0
  pretty_dio_logger: ^1.4.0
  connectivity_plus: ^7.0.0
  socket_io_client: ^3.1.2 # Chat features ke liye useful hai

  # Firebase sdk
  firebase_core: ^4.2.0
  firebase_auth: ^6.1.1
  firebase_messaging: ^16.1.1
  google_sign_in: ^7.2.0

  # Video & Media
  video_player: ^2.10.1
  chewie: ^1.13.0
  image_picker: ^1.2.0
  cached_network_image: ^3.4.1
  photo_view: ^0.15.0

  # Utilities
  flutter_dotenv: ^6.0.0
  intl: ^0.20.2
  timeago: ^3.7.1
  share_plus: ^12.0.1
  url_launcher: ^6.3.2
  path_provider: ^2.1.5
  flutter_cache_manager: ^3.4.1

  # Layout & UX
  flutter_native_splash: ^2.4.7
  carousel_slider: ^5.1.1
  visibility_detector: ^0.4.0+2
  flutter_staggered_grid_view: ^0.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/lotties/
    - .env

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
